body,
p,
input,
ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  box-sizing: border-box;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei UI";
}
a {
  text-decoration: none;
}
.page {
  width: 100%;
  padding-top: 48px;
  height: 2000px;
}
.page .header {
  width: 100%;
  height: 48px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0 3px 3px #ccc;
}
.page .header .headerIn {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}
.page .header .headerIn .headerLeft {
  float: left;
  width: 375px;
  height: 28px;
  margin-top: 10px;
}
.page .header .headerIn .headerLeft ul li {
  float: left;
  margin-right: 20px;
}
.page .header .headerIn .headerLeft ul li a {
  display: inline-block;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
.page .header .headerIn .headerLeft ul li a:hover {
  color: #c90000;
}
.page .header .headerIn .headerLeft ul li .new_tip {
  width: 30px;
  height: 14px;
  line-height: 14px;
  margin-top: 8px;
  margin-left: 2px;
  display: inline-block;
  font-size: 12px;
  background-color: orange;
  color: #fff;
}
.page .header .headerIn .headerLeft ul li:nth-child(7) a {
  font-size: 40px;
  line-height: 2px;
}
.page .header .headerIn .headerLeft ul .logoPic a {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("images/logo.jpg") no-repeat center;
  background-size: contain;
}
.page .header .headerIn .headerCenter {
  float: left;
  width: 475px;
  height: 34px;
  margin-top: 7px;
}
.page .header .headerIn .headerCenter input {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  background-color: #fafafa;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "Microsoft YaHei UI";
}
.page .header .headerIn .headerRight {
  float: right;
  width: 116px;
  height: 48px;
}
.page .header .headerIn .headerRight a {
  float: right;
  width: 52px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-size: 12px;
}
.page .header .headerIn .headerRight a.login {
  background-color: orangered;
  color: #fff;
}
.page .slideBanner {
  width: 100%;
  height: 60px;
  background-color: #5bc0de;
}
.page .slideBanner ul {
  width: 100%;
  height: 60px;
  position: relative;
}
.page .slideBanner ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 1s all;
}
.page .slideBanner ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.page .slideBanner ul li:nth-child(1) a {
  background: url("images/9.jpg") no-repeat center;
  background-size: cover;
}
.page .slideBanner ul li:nth-child(2) a {
  background: url("images/12.jpg") no-repeat center;
  background-size: cover;
}
.page .slideBanner ul li:nth-child(3) a {
  background: url("images/13.jpg") no-repeat center;
  background-size: cover;
}
.page .slideBanner ul li:nth-child(4) a {
  background: url("images/14.jpg") no-repeat center;
  background-size: cover;
}
.page .slideBanner ul li:nth-child(5) a {
  background: url("images/11.jpg") no-repeat center;
  background-size: cover;
}
.page .slideBanner ul li:nth-child(6) a {
  background: url("images/10.jpg") no-repeat center;
  background-size: cover;
}
.page .slideBanner ul li:nth-child(7) a {
  background: url("images/15.jpg") no-repeat center;
  background-size: cover;
}
.page .quickLogin {
  width: 100%;
  height: 120px;
  background: url("images/quickLogin.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
.page .quickLogin .quickLoginIn {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}
.page .quickLogin .quickLoginIn .intro {
  float: left;
  padding-top: 30px;
}
.page .quickLogin .quickLoginIn .intro p {
  text-align: left;
}
.page .quickLogin .quickLoginIn .intro p:nth-child(1) {
  font-weight: bolder;
  font-size: 28px;
}
.page .quickLogin .quickLoginIn .loginIcon {
  float: right;
  padding-top: 30px;
}
.page .quickLogin .quickLoginIn .loginIcon li {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  background: url("images/logo.jpg") no-repeat center;
  background-size: cover;
  margin-right: 10px;
}
.page .quickLogin .quickLoginIn .loginIcon p {
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
}
.page .topNav {
  width: 100%;
  height: 80px;
  background-color: #000000;
  opacity: 0.5;
  color: #fff;
  position: fixed;
  left: 0;
  top: 48px;
  z-index: 999;
  display: none;
}
.page .topNav .topNavIn {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}
.page .topNav .topNavIn .intro {
  float: left;
  padding-top: 10px;
}
.page .topNav .topNavIn .intro p {
  text-align: left;
}
.page .topNav .topNavIn .intro p:nth-child(1) {
  font-weight: bolder;
  font-size: 28px;
}
.page .topNav .topNavIn .loginIcon {
  float: right;
}
.page .topNav .topNavIn .loginIcon ul {
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}
.page .topNav .topNavIn .loginIcon ul li {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  background: url("images/logo.jpg") no-repeat center;
  background-size: cover;
  margin-right: 10px;
}
.page .topNav .topNavIn .loginIcon p {
  float: left;
  padding-top: 5px;
  font-size: 12px;
  line-height: 80px;
}
.page .typeTitle {
  width: 100%;
  height: 130px;
}
.page .typeTitle .typeTitleIn {
  height: 100%;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  line-height: 2;
}
.page .tapMain {
  width: 100%;
}
.page .tapMain .tapTitle {
  width: 300px;
  height: 48px;
  margin: 0 auto;
}
.page .tapMain .tapTitle ul li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 47x;
  cursor: pointer;
}
.page .tapMain .tapTitle ul li.current {
  border-bottom: 1px solid orangered;
  color: orangered;
}
.page .tapMain .tapContent {
  width: 100%;
}
.page .tapMain .tapContent .dom {
  display: none;
}
.page .tapMain .tapContent .dom:nth-child(1) {
  background-color: #5bc0de;
}
.page .tapMain .tapContent .dom:nth-child(2) {
  background-color: green;
}
.page .tapMain .tapContent .dom:nth-child(3) {
  background-color: yellow;
}
/*# sourceMappingURL=index.css.map */