@mainColor:#5197e1;


body {
  font-family: "Microsoft YaHei UI",sans-serif;

  width: 100%;
  height: 100%;
}

.tq-banner {
  width: 100%;
  height: 350px;
  background: url("../images/weatherback.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 2px 3px 1px #ccc;

  .main {

    font-size: 32px;
  }
  .location {

  }
  .temp {
    text-indent: 5px;
    font-size: 56px;
  }


  //地区按钮

  .addCity{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;

    a{
      display: block;
      text-decoration: none;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      border: 1px solid #ccc;
      line-height: 44px;
      color: #fff;
      transition: 0.2s all;
      &:active{

        background-color: #fff;
        color: @mainColor;
        
      }
    }
  }
}

.tq-list {
  padding: 20px;
  position: relative;

  .active-point {
    display: none;
    width: 10px;
    height: 10px;
    background-color: @mainColor;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;

    transition: 0.5s all;

  }

  .hourlyDiv{
    width: 100%;
    overflow: auto;
    .hourlyWeahter{
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      display: none;
      width: 700px;
      li {
        float: left;
        width: 80px;
        font-size: 16px;

        .list-week {
          width: 100%;
          float: left;
          margin: 0 auto;
        }
        .list-temp {
          width: 100%;
          float: right;
        }

        span{
          text-align: center;
          display: block;
          padding: 3px 0;

          &.iconfont{
            font-size: 20px;
            font-weight: bolder;
            color: @mainColor;
          }
        }

        transition: 0.5s all;

      }
    }
  }



  .dailyWeather {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    li {
      padding: 25px 0;

      font-size: 16px;

      .list-week {
        float: left;
      }
      .list-temp {
        float: right;
      }

      span{
        text-align: left;
        display: inline-block;
        padding-left: 10px;
        &.iconfont{
          font-size: 20px;
          font-weight: bolder;
          color: @mainColor;
        }
      }

      transition: 0.5s all;

    }
  }
}